<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
          <rule name="TestingRedirect2" stopProcessing="true">
            <match url="ankitvijay.com/File1.txt" />
            <action type="Rewrite" url="FirstApplication1.txt" redirectType="Permanent" />
          </rule>
          <rule name="TestingRedirect3" stopProcessing="true">
            <match url="test-ag-web1.azurewebsites.net/File1.txt" />
            <action type="Rewrite" url="FirstApplication2.txt" redirectType="Permanent" />
          </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>
