<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ankitvijay.com" stopProcessing="true">
                    <match url="AppleFile.txt" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^(www.)?ankitvijay\.com$" />
                    </conditions>
                    <action type="Rewrite" url="FirstApplication1.txt" redirectType="Permanent" />
                </rule>
                <rule name="test-ag-web1.azurewebsites.net" stopProcessing="true">
                    <match url="AppleFile.txt" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^(www.)?test-ag-web1.azurewebsites\.net$" />
                    </conditions>
                    <action type="Rewrite" url="FirstApplication2.txt" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>