<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="TestingRedirect" stopProcessing="true">
          <match url="Applefile.txt" />
          <action type="Rewrite" url="https://test-ag-web1.scm.azurewebsites.net/health" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
